.fonts{
    font-family: 'Open Sans', sans-serif;
    color:rgb(56, 56, 56)
}

.bodyDiv1 {
    text-align: center;
    margin:20px 160px;
}

.bodyDiv2 {
    text-align: left;
    margin: 20px 200px;
}

.mainDiv{
    padding-top: 120px;
}

.headingL{
    display:inline-block;
    float: left;
    margin: 20px 20px 20px 120px;
    padding: 13px;
}

.headingR{
    display:inline-block;
    float: right;
    margin: 20px 120px 20px 20px;
}

.h1{
    float:right;
    font-size:28px;
    padding-left: 6px;
}

.footer{
    text-align: left;
    padding-inline-start: 0px;
}

.footer2{
    padding: 50px;
    text-align: center;
    color:gray;
}

.blueButton {
    background-color:rgb(47, 141, 204);
    color: rgba(255, 255, 255, 0.849);
    font-size:16px;
    padding: 5px 20px;
    border-radius: 3px;
}

.date{
    color:rgb(180, 179, 179);
    margin: 20px 0px 5px 0px;
    font-size: 14px;
}

.buttons{
    color:darkgray;
    font-size:20px;
}

.buttons2{
    color:gray;
    font-size:20px;
}

.subTitle{
    font-size: 36px;
}

button{
    border: none;
}

span{
    font-size: 25px;
}

