/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 21%; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(104, 102, 102); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin: 0px 50px 30px 24%; /* Same as the width of the sidebar */
    padding: 0px 0px;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
  }
  


  .quoteBox{
    border-left: 5px solid rgb(180, 180, 180);
    padding: 5px 20px 5px 20px;
    margin: 0px 0px 30px 0px; /*Top-right-Bottom-left*/
    background:#d9dadb;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .footer{
    position:fixed;
    float:none;
    bottom: 10px;
    font-size:15px;
    text-align:center;
    color: #818181;
    margin-left:20px;
    margin-right:auto;
  }

  .text{
    position:fixed;
    padding-left:20px;
    background-color: rgb(104, 102, 102);
  }

  .searchDiv{
    text-align:center;
    margin:20px;
  }

  .headingB{
    display:inline-block;
    float: bottom;
}

  .mainDiv{
      float:right;
      text-align:left;
  }

  .divLinks{
      margin-top:30px;
  }